@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    width: 100%;
    background: linear-gradient(100deg, hsla(113, 96%, 81%, 1) 0%, hsla(188, 90%, 51%, 1) 100%);

}
#main{
    
    justify-content: center;
    text-align: center;     
}

#survey-form{
    background-color: #82f4b1;
    margin: 0 auto 4rem auto;
    max-width: 500px;
    padding: 2rem 2rem;
    text-align: start;
    border-radius: 10px;
}

#form-item{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label{
    font-size: .9rem;
}

#title{
    padding: 15px 15px 5px 15px;
}

#description{
    padding-bottom: 30px;
    font-size: .75rem;
}


.submit-button,
.input-item,
#dropdown,
.input-textarea{
    width: 100%;
    padding: .5rem;
    background-color: #f4fdef;
    border: none;
    border-radius: 5px;
    margin-top: 4px ;
}

.buttonmain{
    background-color: #243748;
    color: white;
}